@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
.hero {
    background-image: url("../img/hero-bg.png");
    background-size: cover;
    background-position: top center;
    position: relative;
    height: 100%;
}

.hero-wrap {
    padding: 20% 0 250px;
}
.overlay {
    content: "";
    display: block;
    height: 100%;
    background-image: url("../img/hero-bg-overlay.png");
    background-size: cover;
}
.hero h1 span {
    font-size: 13px;
    position: relative;
    top: -30px;
}
.hero .btn, .discover .btn, #feature-section .btn {
    transition: all .3s;
}

.hero .btn:hover, .discover .btn:hover, #feature-section .btn:hover {
    background: #00DFFC !important;
    color: #000000;
    box-shadow: 5px 5px 7px #00000079 !important;
}
.hero .btn, .discover .btn, #feature-section .btn{
    font-family: "Roboto", sans-serif;
    background-color: #165178;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
}
.features-wrap {
    transition: all .5s;
    min-height: 420px;
    color: #707070 !important;
    margin-top:-150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.features-wrap:hover {
    box-shadow: 12px 15px 20px #00000079;
}

.feature-img img {
    display: block;
    height: 120px;
}
.feature-text h3 {
    font-size: 18px;
}

.discover {
    color: #707070 !important;
    background-image: url(../img/discover-bg1.png);
    background-position-x: 100%;
    /* background-size: 80%; */
    background-repeat: no-repeat;
}
.discover-content {
    padding-top: 150px;
    padding-bottom: 150px;
}

.discover .discover-text h3 {
    color: #00DFFC;
    font-size: 70px;
    margin-bottom: 0;
}
.discover .discover-text h4 {
    font-size: 28px;
    margin-bottom: 20px;
}

.discover .knwldg-card {
    position: absolute;
    transition: all .5s;
    display: block !important;
    width: 330px;
    height: 330px;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
}

.discover .card1 {
    left: 0;
}
.discover .card2 {
    left: 30%; 
    top: 35%;
}
.discover .card3 {
    left: 56%;
}

.discover .knwldg-card a {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}

.discover .knwldg-card:hover {
    z-index: 1000;
    box-shadow: 12px 15px 20px #00000079;
}

.inspired {
    color: #707070 !important;
}
.inspired h3 {
    color: #00DFFC;
    font-size: 60px;
    margin-bottom: 0;
}
.inspired-card {
    transition: all .5s;
    border-radius: 10px;
    display: block;
    height: 200px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
}
.inspired-card:hover {
    box-shadow: 12px 15px 20px #00000079;
}

.inspired-card a {
    font-family: "Roboto", sans-serif;
    color: #707070;
}

.inspired-card a.name  {
    bottom: -30px; left:15px;
}
.inspired-card .description {
    transition: all .5s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #00000079;
    opacity: 0;
}
.inspired-card:hover .description {
    opacity: 1;
}

#feature-section {
    color: #707070;
    text-align: center;
}
#feature-section .card {
    margin-bottom: 0;
}
#feature-section .card-body h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#feature-section img {
    display: block;
    height: 120px;
    margin: 0 auto;
}

.get-started{
    background-color:  #165178;
    color: #FFFFFF !important;
}

.get-started p{
    font-size:20px;
    padding-top: 20px;
}
.get-started h3 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}



/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero-wrap {
        padding: 200px 0 150px;
    }
    .features-wrap {
        margin-top: 50px;
    } 
    .discover .discover-cards  {
        margin: 50px 0;
    }
    .discover .knwldg-card {
        width: 30%;
        height: 250px;
    } 
    .discover .card1 {
        left: 0;
    }
    .discover .card2 {
        left: 35%;
    }
    .discover .card3 {
        left: 70%;
    }

    .inspired {
        padding-top: 150px;
    }

    .inspired .text{ 
        text-align: center;
    }
    
    .inspired-card a.name  {
        bottom: 15px; left:15px;
        color: #FFFFFF;
    }
    .inspired-card:hover .name {
        display: none;
    }

    .get-started {
        text-align: center !important;
        background-color:  #ffffff;
        color: #707070 !important;
    }
    #feature-section .card {
        margin-bottom: 30px;
    }

    #feature-section .card img {
        display: block;
        width: 30%;
        height: auto;
        margin: 0 auto;
    }
    .get-started h3 {
        color: #00DFFC;
        font-size: 40px;
        margin-bottom: 0;
    }
    .get-started p {
        margin: 0;
        padding: 10px;
    }
    
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .hero-wrap {
        padding: 200px 0 150px;
    }
    .features-wrap {
        margin-top: 50px;
    }
    
    .discover .discover-cards  {
        margin: 50px 0;
    }
    .discover .knwldg-card {
        width: 30%;
        height: 250px;
    } 
    .discover .card1 {
        left: 0;
    }
    .discover .card2 {
        left: 35%;
    }
    .discover .card3 {
        left: 70%;
    }

    .inspired {
        padding-top: 150px;
    }
    .inspired .text{ 
        text-align: center;
    }
    .inspired-card a.name  {
        bottom: 15px; left:15px;
        color: #FFFFFF;
    }
    .inspired-card:hover .name {
        display: none;
    }

    
    .get-started {
        background-color:  #ffffff;
        color: #707070 !important;
        text-align: center !important;
    }
    .get-started h3 {
        color: #00DFFC;
        font-size: 40px;
        margin-bottom: 0;
    }
    .feature-section .card img {
        height: 50px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .hero-wrap {
        padding: 250px 0 150px;
    }
    .features-wrap {
        margin-top: 50px;
    }
    .discover-cards {
        padding: 150px 0;
    }
    .discover .knwldg-card {
        width: 300px;
        height: 300px;
    } 
    
    .inspired {
        padding-top: 100px;
    }
    .description {
        display: none;
    }
    
    .inspired .text{ 
        text-align: center;
    }
    
    .inspired-card a.name  {
        bottom: 15px; left:15px;
        color: #FFFFFF;
    }
    .get-started {
        text-align: center;
        background-color:  #FFFFFF;
        color: #707070 !important;
    }
    .get-started h3 {
        color: #00DFFC;
        font-size: 40px;
        margin-bottom: 0;
    }
    .get-started p {
        margin: 0;
        padding: 10px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .discover .knwldg-card {
        width: 300px;
        height: 300px;
    }   
    .discover .discover-text h3 {
        font-size: 60px;
    }
    
    .inspired .text{ 
        text-align: center;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .inspired .text{ 
        text-align: center;
    }
}


